h1, h2, h3, h4, h5, h6 {
	clear: both;
}
h1, .h1 {
	font-size: 65px;
	line-height: 60px;
}
h2, .h2 {
	font-size: 36px;
	line-height: 48px;
}
h3, .h3 {
	font-size: 21px;
	line-height: 43px;
}
h4, .h4 {
	font-size: 18px;
	line-height: 24px;
}
