.site-footer {

	.social-media {
		list-style: none;
		padding: 0;
		display: inline-block;
		li {
			display: inline-block;
			margin-right: 10px;
			a {
				color: #fff;
				display: block;
				border-radius: 50%;
				width: 40px;
				height: 40px;
				font-size: 26px;
				text-align: center;
				padding: 1px;
			}
		}
	}

}
