.burger-trigger {
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	width: 55px;
	height: 55px;
	background: #000;
	padding-top: 7px;
	display: none;

	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 100;
	&:focus {
		outline: none;
		opacity: 1;
	}
	&.open {

	}
	span {
		@include opacity(1);
		@include rotation(0deg);
		@include transition(0.1s);
		background: white;
		display: block;
		height: 6px;
		margin: 6px auto 0;
		position: relative;
		top: 0;
		width: 60%;
		transform-origin:50% 50%;
		transform-origin:50% 50%;
		-webkit-transform-origin:50% 50%;
	}
	&.open {
		span:nth-child(1){
			top: 13px;
			left: 0px;
			width: 60%;
			@include rotation(-45deg);
		}
		span:nth-child(2) {
			width:0;
		}
		span:nth-child(3){
			@include rotation(45deg);
			width: 60%;
			top: -11px;
			left: 0px;
		}
	}
}

.mobile-navigation-container {
	@include clearfix;
	display: none;
	float: left;
	padding-right: 80px;
	width: 220px;
	.mobile-logo {
		width: 117px;
		height: 81px;
		display: none;
		position: absolute;
		top: 20px;
		left: 20px;
		text-indent: -9999px;
		z-index: 100;
	}
}
.mobile-navigation-container {
	&.open {
		#mobile-nav {
			@include translate(0,0);
		}
	}
}

// slide down mobile menu
#mobile-nav {
	@include transition;
	@include translate(100%,0);
	background: #000;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 180px 0 0 30px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 11;
	li {
		@include transition;
		position: relative;
		text-align: left;
		list-style: none;
		display: block;
		color: #fff;
		padding: 0px 0 12px;

	}
	a {

		color: white;
		display: block;
		font-weight: 500;
		// letter-spacing: 10px;
		text-transform: uppercase;
		&:hover {

		}
	}

}
.menu-mobile-menu-container {

	display: none;
	margin-bottom: 30px;
	#mobile-footer-menu {
		li {
			display: block;
			margin-bottom: 15px;
			a {
				font-size: 20px;

			}
		}
	}
}

@media #{$md-max} {
	.burger-trigger {
		display: block;
	}
	.mobile-navigation-container {
		display: block;
	}
	.menu-mobile-menu-container {
		display: block;
	}
}